In [2]:
import geopandas as gp

In [3]:
gp.read_file('powerplants/powerplants.shp')

/home/robert/miniconda3/envs/geopandas/lib/python3.8/site-packages/geopandas/array.py:166: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  return GeometryArray(vectorized.from_shapely(data), crs=crs)

,capacity_m,primary_fu,commission,generation,geometry
0,33.0,Hydro,NaN,NaN,POINT (65.11900 32.32200)
1,10.0,Solar,NaN,NaN,POINT (65.79500 31.67000)
2,10.0,Solar,NaN,NaN,POINT (65.79200 31.62300)
3,66.0,Hydro,NaN,NaN,POINT (69.47870 34.55600)
4,100.0,Hydro,NaN,NaN,POINT (69.71700 34.64100)
...,...,...,...,...,...
34931,50.0,Oil,NaN,NaN,POINT (28.63330 -12.96670)
34932,20.0,Oil,NaN,NaN,POINT (28.20000 -12.81670)
34933,108.0,Hydro,NaN,NaN,POINT (25.85000 -17.91670)
34934,920.0,Coal,NaN,NaN,POINT (26.47000 -18.38350)
34935,750.0,Hydro,NaN,NaN,POINT (28.76190 -16.52220)